<mat-card style="box-shadow: none !important">

    <mat-card-title class="text-center title-presentation">
        StarQuiz
    </mat-card-title>

    <mat-card-content>

        <div class="text-center">


            <div class="row margin-top-10">

                <div class="col-sm-12 col-md-12 col-lg-12">

                    <img src="../../../../../assets/icons/icon-vader-dark.png">

                </div>

            </div>


            <div class="row margin-top-10">

                <div class="col-sm-12 col-md-12 col-lg-12">

                    <h1 mat-h1>
                        Do you think you know anything about Star Wars?
                    </h1>
                    <h1 mat-h1>
                        How many characters can you figure out?
                    </h1>
                    <h1 mat-h1>
                        Try it now! Correct answers with no tips you'll receive 10 points, otherwise, 5.
                    </h1>

                </div>

            </div>


            <div class="row margin-top-10">

                <div class="col-sm-12 col-md-12 col-lg-12">

                    <button mat-flat-button color="primary" (click)="play()">
                        Play&nbsp;
                        <mat-icon>play_arrow</mat-icon>
                    </button>

                </div>

            </div>


        </div>

    </mat-card-content>

</mat-card>